Repository Charles-Arroyo/Coup-Mobile: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, maven-test, auto-deploy, android-build, android-test

maven-build:
  stage: mavenbuild
  tags:
  - springboot_tag
  script:
  - cd Backend
  - mvn package
  artifacts:
    paths:
    - Backend/target/*.jar

maven-test:
  stage: maventest
  tags:
  - springboot_tag
  script:
  - cd Backend
  - mvn test

auto-deploy:
  stage: mavendeploy
  tags:
  - springboot_tag
  script:
  - cd Backend
  - sudo mv target/*.jar /target/web-demo.jar
  - sudo systemctl stop system-web-demo
  - sudo systemctl start system-web-demo

android-build:
  image: afirefly/android-ci:java17
  stage: androidbuild
  tags:
  - android_tag
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Frontend/gradlew
  script:
  - cd Frontend
  - ./gradlew build

android-test:
  image: afirefly/android-ci:java17
  stage: androidtest
  tags:
  - android_tag
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Frontend/gradlew
  script:
  - cd Frontend
  - ./gradlew test

minor change
  Backend/gameFile/.idea/workspace.xml
  Backend/gameFile/src/main/java/database/Game/Game.java
  Backend/gameFile/src/main/java/database/Lobby/LobbySocket.java
  Backend/gameFile/target/classes/database/Admin/AdminController.class
  Backend/gameFile/target/classes/database/Chat/ChatSocket.class
  Backend/gameFile/target/classes/database/FriendChat/FriendChatSocket.class
  Backend/gameFile/target/classes/database/Friends/FriendController.class
  Backend/gameFile/target/classes/database/Game/Game.class
  Backend/gameFile/target/classes/database/Lobby/Lobby.class
  Backend/gameFile/target/classes/database/Lobby/LobbySocket.class
  Backend/gameFile/target/classes/database/Ranking/RankingController.class
  Backend/gameFile/target/classes/database/Stats/StatController.class
Due: maven-build, maven-test, auto-deploy

my branch runner
  .gitlab-ci.yml
  Backend/gameFile/.idea/workspace.xml
Due: maven-build, maven-test, auto-deploy

edited the .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

some changes to admin ui
  Frontend/app/src/main/java/com/example/coupv2/AdminActivity.java
  Frontend/app/src/main/java/com/example/coupv2/LoginActivity.java
  Frontend/app/src/main/java/com/example/coupv2/MenuActivity.java
  Frontend/app/src/main/res/layout/activity_admin_menu.xml
  Frontend/app/src/main/res/layout/activity_menu.xml
Due: android-build, android-test

Small Change
  Backend/gameFile/.idea/workspace.xml
  Backend/gameFile/src/main/java/database/Game/Deck.java
  Backend/gameFile/src/main/java/database/Game/Game.java
  Backend/gameFile/src/main/java/database/Game/Player.java
  Backend/gameFile/src/main/java/database/Lobby/LobbySocket.java
  Backend/gameFile/target/classes/database/Game/Deck.class
  Backend/gameFile/target/classes/database/Game/Game.class
  Backend/gameFile/target/classes/database/Game/Player.class
  Backend/gameFile/target/classes/database/Lobby/LobbySocket.class
Due: maven-build, maven-test, auto-deploy

Adding CICD branch
  Backend/gameFile/.idea/workspace.xml
Due: maven-build, maven-test, auto-deploy

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Adding CICD branch
  Backend/gameFile/.idea/workspace.xml
  Backend/gameFile/pom.xml
  Backend/gameFile/target/classes/database/Game/Player.class
Due: maven-build, maven-test, auto-deploy

changed the pom.xml for jdk 17
  Backend/gameFile/.idea/workspace.xml
  Backend/gameFile/pom.xml
  Backend/gameFile/target/classes/database/Stats/StatController.class
Due: maven-build, maven-test, auto-deploy

changes to the .gitlab-ci.yml
  .gitlab-ci.yml
  Backend/gameFile/.idea/workspace.xml
Due: maven-build, maven-test, auto-deploy

changes
  .gitlab-ci.yml
Due: none

commented out test
  Backend/gameFile/.idea/workspace.xml
  Backend/gameFile/src/test/java/GameAssassinateTest.java
  Backend/gameFile/src/test/java/GameCoupTest.java
  Backend/gameFile/src/test/java/GameIncomeTest.java
  Backend/gameFile/src/test/java/GameRevealCardTest.java
  Backend/gameFile/src/test/java/GameStealTest.java
  Backend/gameFile/src/test/java/GameTaxTest.java
  Backend/gameFile/src/test/java/GameTurnTest.java
Due: maven-build, maven-test, auto-deploy

uncommented the jdk 17
  Backend/gameFile/.idea/workspace.xml
  Backend/gameFile/pom.xml
Due: maven-build, maven-test, auto-deploy

fixed .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

fixed
  .gitlab-ci.yml
Due: none

all fixed
  .gitlab-ci.yml
Due: none

fixed the .gitlab-ci.yml file for the backend
  .gitlab-ci.yml
Due: none

fixed mvn deploy
  .gitlab-ci.yml
Due: none

fixing ci/cd errors on frontend
  Frontend/.idea/deploymentTargetDropDown.xml
  Frontend/app/src/main/res/layout/activity_rules.xml
Due: android-build, android-test

fixing setting ci/cd
  Frontend/app/src/main/res/layout/activity_settings.xml
Due: android-build, android-test

Update pom.xml
  Backend/gameFile/pom.xml
Due: maven-build, maven-test, auto-deploy

reorganized code and added activity_chat
  Frontend/app/src/main/java/com/example/coupv2/PlayActivity.java
  Frontend/app/src/main/res/layout/activity_chat.xml
Due: android-build, android-test

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Path conditions:
  maven-build: any of: Backend/**/*
  maven-test: any of: Backend/**/*
  auto-deploy: any of: Backend/**/*
  android-build: any of: Frontend/**/*
  android-test: any of: Frontend/**/*
